node_modules
.DS_Store
dist
dist-ssr
*.local
node_modules
.DS_Store
dist
dist-ssr
*.local
.yarn.lock

.idea
go.sum
.dbdate
client.key

docs/docs.go
docs/swagger.json
docs/swagger.yaml
vendor
.DS_Store
**/.DS_Store
.DS_Store?

.log
*/.log
log

managerLog
*.log
